h2 {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 50%;
  margin: 0 auto;
}

button {
  width: 20%;
  height: 50px;
  border: 1px solid black;
}
