<div class="login-container">
  <h2>Login</h2>
  <form class="form">
    <div style="text-align: center;">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Mail" [(ngModel)]="mail" name="mail">
      </mat-form-field>
    </div>
    <div style="text-align: center;">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [(ngModel)]="password" name="password">
      </mat-form-field>
    </div>
    <div style="text-align: center;">
      <button mat-button (click)="login(mail, password)" id="loginButton">Login</button>
    </div>
  </form>
</div>
