h2 {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;

}

mat-form-field {
  width: 50%;
  margin: 0 auto;
}

img {
  width: 20%;
  margin: 0 auto;
}
button {
  margin-top: 5px;
  width: 20%;
  height: 50px;
  border: 1px solid black;
}
