<div class="main-container">
  <span><h2>Hallo, {{currentUser.name}}</h2></span>
  <img src="https://media2.giphy.com/media/PDey9GbOPqwHS/giphy.gif?cid=790b76115d1f38db44374b4a6febdd5d&rid=giphy.gif">
</div>
<div style="text-align: center;">
  <button mat-button (click)="logout()">Logout</button>
</div>
